.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 2rem;
    height: 10vh;
    background: linear-gradient(45deg, rgb(12, 12, 12), rgb(17, 17, 17), rgb(12, 12, 12));
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 2px rgb(18, 31, 52);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logoText {
    font-size: 2.5rem;
    font-weight: 600;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(135deg, #0adc2a, #13a357);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logoText a {
    display: flex;
    align-items: center;
}

.logoText img {
    position: relative;
    left: 7px;
    width: 50px;
    height: 50px;
    transform: rotateZ(5deg);
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdownMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdownMenu button {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    font-size: 0.9rem;
    font-weight: 600;
    background: linear-gradient(135deg, #0adc2a, #13a357);
    color: #ffffff;
    padding: 0.4rem 0.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.dropdownMenuContent {
    position: absolute;
    top: 120%;
    left: -15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border: 1px solid rgba(18, 31, 52, 0.5);
    border-radius: 8px;
    width: 140px;
}

.dropdownMenuContent a {
    font-size: 0.8rem;
    font-weight: 600;
    color: #13a357;
    text-decoration: none;
    border-bottom: 1px solid rgba(18, 31, 52, 0.5);
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
}

.dropdownMenuContent a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dropdownMenuContent a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdownMenuContent a:hover {
    background-color: #0b0b0b;
    color: #b6ffd8;
}

.dropdownButton {
    background: transparent;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #13a357;
    text-decoration: none;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
}

.dropdownButton:hover {
    background-color: #0b0b0b;
    color: #b6ffd8;
}

.loginButton {
    background: linear-gradient(135deg, #0adc2a, #13a357);
    color: #ffffff;
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
}

.loginButton:hover {
    background: linear-gradient(135deg, #13a357, #0adc2a);
}

.loginButton svg {
    width: 1.2rem;
    height: 1.2rem;
}

@media (max-width: 480px) {
    .navbar {
        padding: 0.5rem 0.8rem;
        height: 7vh;
    }

    .logoText {
        font-size: 2rem;
    }

    .logoText img {
        width: 35px;
        height: 35px;
        left: 5px;
    }

    .menuContainer {
        gap: 0.5rem;
    }

    .dropdownMenu {
        gap: 0.5rem;
    }

    .dropdownMenu button {
        font-size: 0.7rem;
        padding: 0.25rem 0.4rem;
        gap: 0.01rem;
        width: 100%;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
    }

    .dropdownMenu button svg {
        width: 1rem;
        height: 1rem;
    }

    .dropdownMenuContent {
        left: -10%;
        width: 90px;
        border-radius: 6px;
    }

    .dropdownMenuContent a {
        font-size: 0.7rem;
        padding: 0.25rem 0.4rem;
    }

    .dropdownButton {
        font-size: 0.7rem;
    }

    .loginButton {
        padding: 0.3rem 0.5rem;
        font-size: 0.7rem;
    }

    .loginButton svg {
        width: 1rem;
        height: 1rem;
    }
}