.homeContainer {
    padding: 40px 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(12, 12, 12);
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 60px;
}

.homeTitle {
    font-size: 54px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.15rem;
    word-spacing: 0.15rem;
}

.homeSubtitle {
    margin-top: 16px;
    color: #9ca3af;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.09rem;
    word-spacing: 0.08rem;
}

.homeButtons {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 14px;
    letter-spacing: 0.06rem;
}

/* BUTTONS */
.primaryBtn {
    background: linear-gradient(135deg, #0adc2a, #13a357);
    border: none;
    padding: 0px 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.primaryBtn:hover {
    transform: scale(1.02);
}

.secondaryBtn {
    background: transparent;
    border: 1px solid #444;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.secondaryBtn:hover {
    background: white;
    color: black;

}

/* SECTION TITLE */
.sectionTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* DEMO */
.demoSection {
    margin-top: 80px;
    text-align: center;
}

.demoCard {
    margin-top: 20px;
    background: #111;
    padding: 24px;
    border-radius: 12px;
    width: 320px;
    margin-inline: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.demoRow {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.green {
    color: #22c55e;
}

.red {
    color: #ef4444;
}

/* FEATURES */
.homeFeatures {
    margin-top: 80px;
}

.featuresContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.featureCard {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    width: 240px;
    text-align: center;
    transition: 0.2s ease;
}

.featureCard:hover {
    transform: translateY(-5px);
}

/* WHY SECTION */
.whySection {
    margin-top: 80px;
}

.whyGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
}

.whyCard {
    background: #111;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
}

/* CTA */
.ctaSection {
    margin-top: 80px;
    text-align: center;
}

.ctaSection h2 {
    margin-bottom: 16px;
}


@media (max-width: 480px) {
    .homeContainer {
        padding: 20px 10px;
    }

    /* HERO */
    .hero {
        margin-top: 25px;
        padding: 120px 10px 180px 10px;
    }

    .homeTitle {
        font-size: 32px;
        letter-spacing: 0.02rem;
        word-spacing: 0.12rem;
    }

    .homeSubtitle {
        margin-top: 14px;
        font-size: 13px;
        letter-spacing: 0.02rem;
        word-spacing: 0.02rem;
    }

    .homeButtons {
        margin-top: 15px;
        gap: 8px;
        letter-spacing: 0.01rem;
        word-spacing: 0.01rem;
    }

    /* BUTTONS */
    .primaryBtn {
        padding: 5px 8px;
        border-radius: 6px;
        font-size: 12px;
    }

    .primaryBtn:hover {
        transform: scale(1.02);
    }

    .secondaryBtn {
        padding: 5px 8px;
        border-radius: 6px;
        font-size: 12px;
    }

    /* SECTION TITLE */
    .sectionTitle {
        font-size: 28px;
        margin-bottom: 15px;
    }

    /* DEMO */
    .demoSection {
        margin-top: 60px;
        padding: 40px 10px;
    }

    .demoCard {
        margin-top: 10px;
        padding: 16px;
        border-radius: 12px;
        width: 250px;
    }

    .demoRow {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        font-size: 14px;
    }

    /* FEATURES */
    .homeFeatures {
        margin-top: 80px;
        padding: 40px 10px;
    }

    .featuresContainer {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .featureCard {
        background: #111;
        padding: 20px;
        border-radius: 12px;
        width: 240px;
        text-align: center;
        transition: 0.2s ease;
    }

    .featureCard:hover {
        transform: translateY(-5px);
    }

    /* WHY SECTION */
    .whySection {
        margin-top: 80px;
    }

    .whyGrid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 20px;
    }

    .whyCard {
        background: #111;
        padding: 16px;
        border-radius: 10px;
        text-align: center;
    }

    /* CTA */
    .ctaSection {
        margin-top: 80px;
        text-align: center;
    }

    .ctaSection h2 {
        margin-bottom: 16px;
    }
}